## Distritos

In [2]:
import pandas as pd

In [4]:
# leer csv
distritos = pd.read_csv('.\\Distritos_Lat_Lon.csv', sep=';', decimal='.', skipinitialspace=True, skip_blank_lines=True)
distritos.head()

     DISTRITO    LATITUD  LONGITUD
0      Centro   40.41831  -3.70275
1  Arganzuela   40.40021  -3.69618
2      Retiro  40.41317   -3.68307
3   Salamanca  40.42972   -3.67975
4   Chamartín   40.46206  -3.67660

## TripAdvisor Restaurants

In [27]:
import pandas as pd

tripadvisor = pd.read_csv('.\\TA_restaurants_curated.csv', sep=',', decimal='.', index_col=0)
tripadvisor.head()

,Name,City,Cuisine Style,Ranking,Rating,Price Range,Number of Reviews,Reviews,URL_TA,ID_TA
0,Martine of Martine's Table,Amsterdam,"['French', 'Dutch', 'European']",1.0,5.0,$$ - $$$,136.0,"[['Just like home', 'A Warm Welcome to Wintry ...",/Restaurant_Review-g188590-d11752080-Reviews-M...,d11752080
1,De Silveren Spiegel,Amsterdam,"['Dutch', 'European', 'Vegetarian Friendly', '...",2.0,4.5,$$$$,812.0,"[['Great food and staff', 'just perfect'], ['0...",/Restaurant_Review-g188590-d693419-Reviews-De_...,d693419
2,La Rive,Amsterdam,"['Mediterranean', 'French', 'International', '...",3.0,4.5,$$$$,567.0,"[['Satisfaction', 'Delicious old school restau...",/Restaurant_Review-g188590-d696959-Reviews-La_...,d696959
3,Vinkeles,Amsterdam,"['French', 'European', 'International', 'Conte...",4.0,5.0,$$$$,564.0,"[['True five star dinner', 'A superb evening o...",/Restaurant_Review-g188590-d1239229-Reviews-Vi...,d1239229
4,Librije's Zusje Amsterdam,Amsterdam,"['Dutch', 'European', 'International', 'Vegeta...",5.0,4.5,$$$$,316.0,"[['Best meal.... EVER', 'super food experience...",/Restaurant_Review-g188590-d6864170-Reviews-Li...,d6864170

In [28]:
# Filtrar por Madrid
restaurants_madrid = tripadvisor[ tripadvisor['City'] == 'Madrid' ]
restaurants_madrid

,Name,City,Cuisine Style,Ranking,Rating,Price Range,Number of Reviews,Reviews,URL_TA,ID_TA
0,Cebo,Madrid,"['Mediterranean', 'European', 'Spanish', 'Cont...",1.0,5.0,$$$$,352.0,"[['Absolutely divine tastes and flavours', 'Lo...",/Restaurant_Review-g187514-d10428302-Reviews-C...,d10428302
1,DSTAGE,Madrid,"['International', 'European', 'Spanish', 'Cont...",2.0,4.5,$$$$,1724.0,"[['Birthday meal', 'Outstanding experience. Ve...",/Restaurant_Review-g187514-d6884911-Reviews-DS...,d6884911
2,Los Montes de Galicia,Madrid,"['International', 'Mediterranean', 'European',...",3.0,4.5,$$ - $$$,3795.0,"[['Wonderful lunch', 'One of Madrid’s finest.'...",/Restaurant_Review-g187514-d2006562-Reviews-Lo...,d2006562
3,Astor,Madrid,"['International', 'Mediterranean', 'European',...",4.0,5.0,$$ - $$$,302.0,"[['Small place with big flavours', 'The best d...",/Restaurant_Review-g187514-d11896546-Reviews-A...,d11896546
4,Restaurante Nuevo Horno de Santa Teresa,Madrid,"['Mediterranean', 'Spanish']",5.0,4.5,$$ - $$$,357.0,"[['Be hungry, be very hungry....', 'Good good'...",/Restaurant_Review-g187514-d1953725-Reviews-Re...,d1953725
...,...,...,...,...,...,...,...,...,...,...
9538,Bengol Indian Restaurant,Madrid,['Indian'],NaN,NaN,$$ - $$$,NaN,NaN,/Restaurant_Review-g187514-d13340838-Reviews-B...,d13340838
9539,La Revuelta,Madrid,['Spanish'],NaN,NaN,NaN,NaN,NaN,/Restaurant_Review-g187514-d13343539-Reviews-L...,d13343539
9540,Casa Carmen,Madrid,"['Mediterranean', 'Spanish']",NaN,NaN,NaN,NaN,NaN,/Restaurant_Review-g187514-d13345511-Reviews-C...,d13345511
9541,Gho Hfan,Madrid,"['Japanese', 'Asian', 'Fusion']",NaN,NaN,$$ - $$$,NaN,NaN,/Restaurant_Review-g187514-d13345610-Reviews-G...,d13345610
9542,El Escondite de Baco,Madrid,NaN,NaN,NaN,NaN,NaN,NaN,/Restaurant_Review-g187514-d13347983-Reviews-E...,d13347983

En la columna reviews tenemo una lista de listas con dos elementos: la primera lista con las dos reviews que aparecen al hacer scrolling, y la segunda las fechas en las que se hicieron.  
[ [review1, review2], [fecha1, fecha2] ]

Nos faltarían las coordenadas del restaurante, probamos a cogerlas mediante url de tripadvisor y webscrapping o con api de openstreetmaps

1. Intentar sacar dirección con web scrapping a la web de Tripadvisor

In [ ]:
# Ahora vamos a descargar una página para poder hacer web scraping
# Podemos utilizar o bien la librería requests con la funcion get (ver demo jupyter 2)
# O la librería urllib3, que se puede instalar con conda: install -c anaconda urllib3 sobre el CMD prompt de Anaconda

import urllib
from bs4 import BeautifulSoup
from time import sleep
from numpy import random

base_url_TA = 'https://www.tripadvisor.es'
#headers = {'User-Agent': 'Mozilla/6.0'}
headers = {
    "Accept": [
      "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7"
    ],
    "Accept-Encoding": [
      "gzip, deflate, br, zstd"
    ],
    "Accept-Language": [
      "en-US,en;q=0.9"
    ],
    "Connection": [
      "keep-alive"
    ],
    "Host": [
      "httpbin.io"
    ],
    "Sec-Ch-Ua": [
      "\"Not/A)Brand\";v=\"8\", \"Chromium\";v=\"126\", \"Google Chrome\";v=\"126\""
    ],
    "Sec-Ch-Ua-Mobile": [
      "?0"
    ],
    "Sec-Ch-Ua-Platform": [
      "\"Windows\""
    ],
    "Sec-Fetch-Dest": [
      "document"
    ],
    "Sec-Fetch-Mode": [
      "navigate"
    ],
    "Sec-Fetch-Site": [
      "none"
    ],
    "Sec-Fetch-User": [
      "?1"
    ],
    "Upgrade-Insecure-Requests": [
      "1"
    ],
    "User-Agent": [
      "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/126.0.0.0 Safari/537.36"
    ]
  }


direcciones = [None] + len(restaurants_madrid) # Inicializar lista para guardar resultados
i = 0
for url_TA in list(restaurants_madrid['URL_TA']):
    url = base_url_TA + url_TA
    print(url)
    req = urllib.request.Request(url=url, headers=headers)
    html = urllib.request.urlopen(req).read()
    soup = BeautifulSoup(html,'html.parser')

    # Extraer la dirección
    direccion = soup.find_all('span')[60].get_text(strip=True)

    # Guardamos la dirección
    direcciones[i] = direccion
    i+=1

    break
    sleep(random.uniform(2, 4)) # meter un tiempo random entre consultas para evitar bloqueo

2. Intentar sacar la dirección buscando con la api de openstreetmaps

In [32]:
# Para hacer peticiones al API importamos la librería requests
import requests
from time import sleep

api_url = 'https://nominatim.openstreetmap.org/search'


direcciones = [None] * len(restaurants_madrid) # Inicializar lista para guardar resultados
latitudes = [None] * len(restaurants_madrid) # Inicializar lista para guardar resultados
longitudes = [None] * len(restaurants_madrid) # Inicializar lista para guardar resultados

for i, row in restaurants_madrid.iterrows():
    name = row['Name']

    # Parámetros de la consulta
    params = {
        'street': name,
        'city': 'Madrid',
        'country': 'Spain',
        'type': 'restaurant',
        'addressdetails': 1,
        'limit': 1,
        'format': 'json'
    }

    # Realizar la solicitud
    response = requests.get(api_url, params=params, headers={'User-Agent': 'Mozilla/6.0'})
    
    # Verificar si la solicitud fue exitosa
    if response.status_code == 200:
        # Parsear la respuesta JSON
        data = response.json()
        if data:
            # Extraer la dirección
            direccion = data[0]['display_name']
            latitud = data[0]['lat']
            longitud = data[0]['lon']

            # Guardamos la dirección
            direcciones[i] = direccion
            latitudes[i] = latitud
            longitudes[i] = longitud
        else:
            print("No se encontraron resultados para la búsqueda.")
    else:
        print(f"Error en la solicitud: {response.status_code}")

    if i == 20:
        break
    
    sleep(1) # meter un tiempo de 1 seg para las request de la api (politica de uso de la api)


# Exportar csv con la informacion de lor restaurantes
restaurants_madrid['Address'] = direcciones
restaurants_madrid['Latitud'] = latitudes
restaurants_madrid['Longitud'] = longitudes

restaurants_madrid.to_csv('.\\TA_restaurants_processed.csv', sep=';', index=False)

No se encontraron resultados para la búsqueda.
No se encontraron resultados para la búsqueda.
No se encontraron resultados para la búsqueda.
No se encontraron resultados para la búsqueda.
No se encontraron resultados para la búsqueda.
No se encontraron resultados para la búsqueda.

C:\Users\Multivac Desktop\AppData\Local\Temp\ipykernel_5720\2683444911.py:55: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  restaurants_madrid['Address'] = direcciones
C:\Users\Multivac Desktop\AppData\Local\Temp\ipykernel_5720\2683444911.py:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  restaurants_madrid['Latitud'] = latitudes
C:\Users\Multivac Desktop\AppData\Local\Temp\ipykernel_5720\2683444911.py:57: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  restaurants_madrid['Longitud'] = longitudes

In [30]:
len(restaurants_madrid)

9543